.Weather .weather {
  padding: 30px;
  margin: 45px auto;
  max-width: 600px;
  background-color: blue;
}
.Weather .overview {
  margin-bottom: 20px;
}

.Weather .temperature {
  color: black;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
}

.Weather .units {
  position: relative;
  top: -34px;
}

.Weather .clearfix .active {
  color: black;
  cursor: default;
}

.Weather .clearfix .active:hover {
  text-decoration: none;
}

.Weather .form {
  margin-bottom: 60px;
  color: rgb(51, 50, 50);
  font-size: 100px;
  font-weight: 100px;
  height: 500px;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
